<h1><%= link_to "Cat Roulette", root_path %></h1>

<div class="q-and-a">
	<p class="question">So what's this all about?</p>

	<p class="answer">This is just for fun.  I'm a web developer by trade and I realized recently that I'd never made anything specifically involving cats.  And, as we all know, the internet is fueled by cats, so I decided it was high time I rectified that problem.</p>

	<p class="question">Ok, and how does this thing work?</p>

	<p class="answer">Glad you asked, or rather, I asked, and now am answering myself.  The site is powered by Tumblr.  Whenever you visit the page it grabs 20 random images from known Tumblr cat blogs.  It then feeds the URL links, as well as some other information to your browser where it's displayed.  The roulette effect is achieved using a modified version of a JavaScript library called Flipster.</p>

	<p class="answer">A batch of images is generated when you first hit the page, and you can scroll through them as you like.  If you hit the "Spin the Wheel" button one of those images is randomly replaced with a new one and the wheel spins for a moment while it loads.  This way you never get the same roulette wheel twice.</p>

	<p class="question">Good to know.  And you are?</p>

	<p class="answer">My name is Jonathon, and I build websites and applications.  I'm also an all around fascinating person, and you can check out <a href="http://www.jonathonnordquist.com">my website here</a>.  Thanks for playing, and I hope you enjoy the kitties.</p>

	<p class="question">How do I get back to the cats?</p>

	<p class="answer">Just click the title</p>
</div>