<h1>Cat Roulette 1.0</h1>

<div class="my-flipster">
  <ul class="flip-items" id="cat-carousel">
  	<% @metadata.each do |cat| %>

    	<li>
    		<div class="cat-div">
	    		<img src="<%= get_post_image_url(cat) %>" class="cat-pic" />
	    		<p>Provided by <a href="<%= get_post_url(cat) %>" target="_blank"><%= get_post_blog_name(cat) %></a></p>
	    	</div>
    	</li>

  	<% end %>

  </ul>

  <button type="button" id="wheel-spin">Spin the Wheel</button>
</div>


<script>
	var flipContainer = $('.my-flipster'),
	    flipItemContainer = flipContainer.find('.flip-items'),
	    flipItem = flipContainer.find('li');

	flipContainer.flipster({
	  itemContainer: flipItemContainer,
	  itemSelector: flipItem,
	  loop: 2,
	  start: 2,
	  style: 'infinite-carousel'
	});

	function spinTheWheel(){
		steps = Math.floor(Math.random() * 20) + 8;
		for (var i = 1; i <= steps; i++) {
		    setTimeout(function() { flipContainer.flipster('next'); }, 
		    	100 * i );
		}
	};

	spinTheWheel();

	$("#wheel-spin").click(function(){
		console.log("clicked")
		replaceImage(2, "https://40.media.tumblr.com/79751e7eb298512a67d7b90fce97582d/tumblr_mo1rnaOjSq1qhwmnpo1_500.png");
	});


	function getReplacementImageData(){
		$.get("<%= cats_newimage_path %>",
			function(data, status){
				console.log(data);
			}
		);
	};

	function replaceImage(targetPos, imageUrl){
		$("ul li:nth-child(" + targetPos + ") div div img").replaceWith('<img src=' + imageUrl + ' class="cat-pic">')

	}

	function getRandomListPos(){
		var numFlipseterItems = $('.flipster__item').length;
		var numToReplace = Math.floor(Math.random() * numFlipseterItems) + 1;
	}

	getReplacementImageData();

	
</script>


