<h1>Cat Roulette 1.0</h1>



<div class="my-flipster">
  <ul class="flip-items">
  	<% @metadata.each do |cat| %>

    	<li>
    		<div class="cat-div">
	    		<img src="<%= get_post_image_url(cat) %>" class="cat-pic" />
	    		<p>Provided by <a href="<%= get_post_url(cat) %>" target="_blank"><%= get_post_blog_name(cat) %></a></p>
	    	</div>
    	</li>

  	<% end %>

  </ul>
</div>


<script>
	var flipContainer = $('.my-flipster'),
	    flipItemContainer = flipContainer.find('.flip-items'),
	    flipItem = flipContainer.find('li');

	flipContainer.flipster({
	  itemContainer: flipItemContainer,
	  itemSelector: flipItem,
	  loop: 2,
	  start: 2,
	  style: 'infinite-carousel',
	  buttons: true
	});

	// function doSetTimeout(delay, count) {
	// 	setTimeout(function(){
	// 		flipContainer.flipster('next');
	// 		console.log(count)
	// 	},
	// 	delay)
	// }

	// for(i = 0; i < 100; i++){
	// 	doSetTimeout(1000, i);
	// }

	for (var i = 1; i <= 100; i++) {
	    setTimeout(function() { flipContainer.flipster('next'); }, 
	    	100 * i );
	}
	
</script>


