<h1>Cat Roulette 1.0</h1>

<p><%= get_post_image_url(@metadata) %></p>

<img src="<%= get_post_image_url(@metadata) %>">

<p>Posted by <a href="<%= get_post_url(@metadata) %>" target="_blank"><%= get_post_blog_name(@metadata) %></a></p>