<h1>Cat Roulette 1.0</h1>



<div class="my-flipster">
  <ul class="flip-items">
  	<% @metadata.each do |cat| %>

    	<li>
    		<div class="cat-div">
	    		<img src="<%= get_post_image_url(cat) %>" class="cat-pic" />
	    		<p>Provided by <a href="<%= get_post_url(cat) %>" target="_blank"><%= get_post_blog_name(cat) %></a></p>
	    	</div>
    	</li>

  	<% end %>

  </ul>

  <button type="button" id="wheel-spin">Spin the Wheel</button>
</div>


<script>
	var flipContainer = $('.my-flipster'),
	    flipItemContainer = flipContainer.find('.flip-items'),
	    flipItem = flipContainer.find('li');

	flipContainer.flipster({
	  itemContainer: flipItemContainer,
	  itemSelector: flipItem,
	  loop: 2,
	  start: 2,
	  style: 'infinite-carousel'
	});

	function spinTheWheel(){
		steps = Math.floor(Math.random() * 20) + 80;
		for (var i = 1; i <= steps; i++) {
		    setTimeout(function() { flipContainer.flipster('next'); }, 
		    	100 * i );
		}
		console.log(steps);
	};

	spinTheWheel();

	$("#wheel-spin").click(function(){
		spinTheWheel();
	})
	
</script>


