// Place all the styles related to the CatPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.flipster--loop {
  /*  .flipster__item--past { transform: translateX(-100%); }
  .flipster__item--future { transform: translateX(100%); }*/
}
.flipster--loop .flipster__item {
  position: absolute;
}
.flipster--loop .flipster__item--past-2 {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.flipster--loop .flipster__item--future-2 {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.flipster--loop .flipster__item--past-1 {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.flipster--loop .flipster__item--future-1 {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.flipster--infinite-carousel .flipster__container,
.flipster--infinite-carousel .flipster__item {
  -webkit-transition: all 10ms ease-in-out;
  transition: all 10ms ease-in-out;
  -webkit-transition-timing-function: cubic-bezier(0.56, 0.12, 0.12, 0.98);
          transition-timing-function: cubic-bezier(0.56, 0.12, 0.12, 0.98);
}
.flipster--infinite-carousel .flipster__item__content {
  -webkit-transition: inherit;
  transition: inherit;
}
.flipster--infinite-carousel .flipster__item {
  position: absolute;
  opacity: 0;
  -webkit-perspective: 800px;
          perspective: 800px;
}
.flipster--infinite-carousel .flipster__item--past-2,
.flipster--infinite-carousel .flipster__item--future-2 {
  opacity: 0.6;
  -webkit-transition-delay: 90ms;
          transition-delay: 90ms;
}
.flipster--infinite-carousel .flipster__item--past-1,
.flipster--infinite-carousel .flipster__item--future-1 {
  opacity: 0.8;
  -webkit-transition-delay: 60ms;
          transition-delay: 60ms;
}
.flipster--infinite-carousel .flipster__item--current {
  opacity: 1;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.flipster--infinite-carousel .flipster__item--past .flipster__item__content,
.flipster--infinite-carousel .flipster__item--future .flipster__item__content {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
}

.flipster--infinite-carousel .flipster__item--past-2 .flipster__item__content {
  -webkit-transform: translateX(-75%) rotateY(45deg) scale(0.6);
          transform: translateX(-75%) rotateY(45deg) scale(0.6);
}
.flipster--infinite-carousel .flipster__item--future-2 .flipster__item__content {
  -webkit-transform: translateX(75%) rotateY(-45deg) scale(0.6);
          transform: translateX(75%) rotateY(-45deg) scale(0.6);
}
.flipster--infinite-carousel .flipster__item--past-1 .flipster__item__content {
  -webkit-transform: translateX(-50%) rotateY(45deg) scale(0.8);
          transform: translateX(-50%) rotateY(45deg) scale(0.8);
}
.flipster--infinite-carousel .flipster__item--future-1 .flipster__item__content {
  -webkit-transform: translateX(50%) rotateY(-45deg) scale(0.8);
          transform: translateX(50%) rotateY(-45deg) scale(0.8);
}
.flipster--infinite-carousel .flipster__item--current .flipster__item__content {
  -webkit-transform: translateX(0) rotateY(0deg) scale(1);
          transform: translateX(0) rotateY(0deg) scale(1);
}

/* My custom css */
	.flipster__item {
	width: 400px;
	}
	.flipster__item--past-2 {
	    left: -150px;	
	}
	.flipster__item--past-1 {
	    left: -75px;	
	}
	.flipster__item--future-2 {
	    left: 150px;	
	}
	.flipster__item--future-1 {
	    left: 75px;	
	}
	.cat-pic {
		max-height: 400px;
		max-width: 400px !important;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.cat-div {
		/*max-height: 400px;*/
		max-width: 400px;
	}

@media(max-width: 900px) {
	.my-flipster {
		height: 300px;
	}
	.flipster__item {
		width: 200px;
	}
	.flipster__item--past-2 {
	    left: -100px;	
	}
	.flipster__item--past-1 {
	    left: -50px;	
	}
	.flipster__item--future-2 {
	    left: 100px;	
	}
	.flipster__item--future-1 {
	    left: 50px;	
	}

	.cat-pic {
		max-height: 200px;
		max-width: 200px !important;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.cat-div {

	}
}
