// Place all the styles related to the CatPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cat-pic {
	max-height: 200px;
	max-width: 200px;
}

.cat-div {
	max-height: 200px;
	max-width: 200px
}