html, body {
	height: 100%;
	background-color: #F5FAFA;
	background: -webkit-linear-gradient(left top, #F5FAFA, #0099CC); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(bottom right, #F5FAFA, #0099CC); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, #F5FAFA, #0099CC); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to bottom right, #F5FAFA, #0099CC);
  	font-family: "Lato", sans-serif
}
h1 {
	text-align: center;
	background-color: #6D929B;
	margin-top: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0;
	font-weight: 600;
}

.flipster__item--current {
	padding: 3px;
	border: 1px solid black;
	border-radius: 3px;
	background-color: #eee;
}

.flipster__item {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.flip-items {
	margin-top: 15px;
}

.image-post-data {
	text-align: center;
}

#wheel-spin {
   border-top: 1px solid #96d1f8;
   background: #418dbf;
   background: -webkit-gradient(linear, left top, left bottom, from(#1d6391), to(#418dbf));
   background: -webkit-linear-gradient(top, #1d6391, #418dbf);
   background: -moz-linear-gradient(top, #1d6391, #418dbf);
   background: -ms-linear-gradient(top, #1d6391, #418dbf);
   background: -o-linear-gradient(top, #1d6391, #418dbf);
   padding: 11px 22px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 17px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
}

#wheel-spin:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
}

#wheel-spin:active {
   border-top-color: #1b435e;
   background: #1b435e;
}

#button-holder {
	text-align: center;
	height: 45px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently                                 not supported by any browser */
}

.my-flipster {
	height: 480px;
}

.flipster__item {
	width: 400px;
}
.flipster__item--past-2 {
    left: -150px;	
}
.flipster__item--past-1 {
    left: -75px;	
}
.flipster__item--future-2 {
    left: 150px;	
}
.flipster__item--future-1 {
    left: 75px;	
}
.cat-pic {
	max-height: 400px;
	max-width: 400px !important;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.cat-div {
	max-width: 400px;
}
@media(max-width: 500px) {
	.flipster__item--past-2, .flipster__item--future-2{
	    display: none !important;	
	}
}

@media(max-height: 600px) {
	#button-holder {
		position: absolute;
		left: 5px;
		top: 5px;
	}
}

@media(max-width: 900px) {
	.my-flipster {
		height: 300px;
	}
	.flipster__item {
		width: 200px;
	}
	.flipster__item--past-2 {
	    left: -100px;	
	}
	.flipster__item--past-1 {
	    left: -50px;	
	}
	.flipster__item--future-2 {
	    left: 100px;	
	}
	.flipster__item--future-1 {
	    left: 50px;	
	}

	.cat-pic {
		max-height: 200px;
		max-width: 200px !important;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
